<p>
<label class='show_section'>&nbsp;<input id='show_section-{{sectionId}}' data-section='{{sectionId}}' class='show_section' type='checkbox' checked='checked'>
<span class='text'>Show the {{titleDowncase}} location{{plural}} on the map</span>
</label>
</p>
