<h2>It looks like you're having trouble RSVPing</h2>

<p>

Sorry to see that.

<p>

It might be a temporary problem with the website. If this is the first time
you're seeing this message, try back later to see if it is working then.

<div class='dismiss'>
  <button class='dismiss'>Hide this message and try again</button>
</div>

<p>

It might also be an incompatibility between our RSVP system and your web
browser. The RSVP system will work best on a recent version of Firefox, Chrome,
or Safari. If have one of those browsers available, give it a shot.

<p>

If you can't get this online RSVP system to work for you, all is not lost. We
also have an RSVP voicemail box. If you'd like to use it, please:

<ul class="voicemail">
  <li class="number">Call 510-629-1827 (510-MAY-18KR)</li>
  <li>Leave a voicemail message including
    <ul>
      <li>the names of the people on your invitation,</li>
      <li>whether each of you will be joining us, and</li>
      <li>
        if you are joining us, what each of you would like for dinner;
        options are Beef Brisket, Pork Loin, or Black Bean and Faro Cakes
      </li>
    </ul>
  </li>
</ul>

<p>

Thanks, and sorry for the trouble.

<div class="dismiss">
  <button class="dismiss">Hide this message and try again</button>
</div>

{{#if message}}
<div class="details">
<h3>Technical details about the error</h3>
<code>{{message}}</code>
</div>
{{/if}}
