<div id="find-invitation">

  <h1>Find your Invitation</h1>

  <p>To begin, enter the code that came with your invitation.

  <form>
    <input id="rsvp-id" type="text" placeholder="e.g., W3D4KR">
    <input type="submit" value="Go">
  </form>

</div>
