body {
  font-family: serif;
}

h1, h2, h3 {
  font-family: 'Imprima', 'Georgia', serif
}

#sidebar-container {
  position: fixed;
  background-color: rgb(64, 0, 64);
  color: #ccc;
  width: 27%;
  height: 100%;

  /*background-image: -moz-linear-gradient(left,  rgba(64, 0, 64, 0), rgba(64, 0, 64, 0.6), rgba(64, 0, 64, 1.0)), url('floral-Background-slice-1.png');*/
  background-image: url('blackwallpaper-lightened-slice-200px.png');
  background-repeat: repeat-y;
  background-size: 100px;

  border-right: 4px solid #bbb;
}

#content-container {
  width: 73%;
  margin-left: 27%;
}

#sidebar {
  text-align: right;
  padding-top: 12px;
  height: 100%;
  position: relative;
}

#sidebar h1 {
  font-family: 'Quando', Georgia;
  font-size: 220%;
  line-height: 1.5;
  height: 100px;
  margin-right: 24px;
  margin-left: 105px; /* avoid background */
  vertical-align: middle;
}

#sidebar ul {
  margin-top: 2.4em;
  font-family: 'Imprima';
  margin-left: 105px; /* avoid background */
}

#sidebar li {
  font-size: 120%;
  margin: 16px;
  letter-spacing: 4px;
}

#sidebar li:first-child {
  /*margin-top: 0;*/
}

#sidebar a {
  color: #ddd;
  text-decoration: none;
  border: 1px solid #404;
  border-radius: 5px;
  padding: 3px;
  display: block;
}

#sidebar a:hover {
  background-color: #ddd;
  color: #404;
}

#save-the-date {
  position: absolute;
  bottom: 30px;
  right: 30px;
  border-radius: 7px;
  border: 3px solid #404;

  font-family: 'Imprima', Helvetica, sans-serif;
  text-align: center;
  line-height: 1.1;
  background-color: #eee;
  color: #121;

  width: 180px;
  height: 180px;

  font-size: 40px;
}

#save-the-date h2 {
  font-size: 53%;
  white-space: nowrap;
  padding-top: 24px;
  color: #600;
}

#save-the-date .year {
  font-size: 160%;
}

#content {
  padding: 1em;
  color: #343;
}

#content h2 {
  font-size: 180%;
  color: #222;
  margin-top: 100px;
}

#content p {
  margin: 1em;
  line-height: 1.3em;
}
