$sidebar-width: 330px;

%container {
  margin: 0; padding: 0;
}

body {
  height: 100%;
}

#sidebar-container {
  @extend %container;

  width: $sidebar-width;

  position: fixed;
  height: 100%;
}

#content-container {
  @extend %container;

  margin-left: $sidebar-width;
}

#content {
  margin-left: 1em;
  max-width: 3 * $sidebar-width;
  position: relative;

  footer {
    margin: 3em auto 1em;
  }
}
