@import '_module/variables';

body.map {
  #content-container {
    height: 100%;
  }

  #content {
    padding-top: 0;
    margin: 0;
    position: relative;
    max-width: 100%;
    height: 100%;
  }

  #map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #909;

    img {
      border: none
    }
  }

  #locations {
    position: absolute;
    width: 270px;
    right: 36px;
    top: 36px;
    bottom: 36px;
    background-color: $content-background-color;
    z-index: 50;
    border-radius: 7px 0;
    border: 2px solid $content-foreground-color;
    padding: 0px;
    overflow: scroll;

    h2 { margin-top: 7px; }

    & > h2, & > h3, h4, p {
      padding: 0 7px;
    }

    h4 {
      border-top: 1px solid $sidebar-background-color;
      background-color: $sidebar-foreground-color + #222;
    }

    ul#section_tabs {
      margin: 7px;
      width: 270px - 14px;
      overflow: auto;
    }

    li.section_tab {
      float: left;
      margin: 1px;
      width: (270px - 14px - 4px) / 2;
      font-family: $imprima;

      a {
        display: block;
        padding: 3px;
        border-radius: 5px 0;

        border: 1px solid $sidebar-background-color;
        background-color: $sidebar-background-color;
        color: $sidebar-foreground-color;

        &:hover, &.selected {
          background-color: $content-background-color - #111;
          color: $content-foreground-color;
          border-width: 1px;
        }

        &.selected {
          background-color: $content-background-color;
        }
      }
    }

    label.show_section {
      display: block;
      overflow: auto;
      width: 100%;

      input, span.text {
        display: block;
        float: left;
      }

      input {
        width: 8%;
        padding-top: 5px;
      }

      span.text {
        width: 80%;
      }
    }

    p.adr, p.cta {
      font-size: 95%;
      padding-left: 14px;
    }

    p.cta {
      text-indent: -7px;
    }

    p.adr {
      span.street-address {
        display: block
      }
    }
  }

  ul { margin: 0; padding: 0; }
  li { margin: 0; padding: 0; list-style-type: none }
}
