@import '_module/variables';

body.map {
  #content-container {
    height: 100%;
  }

  #content {
    padding-top: 0;
    margin: 0;
    position: relative;
    max-width: 100%;
    height: 100%;
  }

  #map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #909;

    img {
      border: none
    }
  }

  #locations {
    position: absolute;
    width: 240px;
    right: 36px;
    top: 36px;
    bottom: 36px;
    background-color: $content-background-color;
    z-index: 50;
    border-radius: 7px;
    border: 2px solid $content-foreground-color;
    padding: 7px;
    overflow: scroll;

    h2 { margin-top: 0; }
  }

  ul { margin: 0; padding: 0; }
  li { margin: 0; padding: 0; list-style-type: none }
}
