$sidebar-background-color: rgb( 64,   0,  64);
$sidebar-foreground-color: rgb(192, 192, 192);

$content-foreground-color: #444;
$content-background-color: #fbfffb;
// $content-link-color: rgb(112, 160, 112);
$content-link-color: $content-foreground-color + #141;
$content-link-visited: $content-link-color + #303;
$content-link-hover: $content-link-color;

$sidebar-background-image-width: 100px;

$sidebar-heading-height: 120px;

$imprima: Imprima, Helvetica, sans-serif
