$sidebar-background-color: rgb( 64,   0,  64);
$sidebar-foreground-color: rgb(192, 192, 192);

$sidebar-background-image-width: 100px;

$sidebar-heading-height: 120px;

$imprima: Imprima, Helvetica, sans-serif
