---
title: Visiting Chicago
description: There are lots of amazing things to do and see in Chicago.  These are some of our favorites.
photo:
  src: 'kr-by-victoria-sprung-275-outside-music-box.jpg'
  alt: 'Kelly and Rhett outside the Music Box.'
  title: 'The Music Box Theatre is just one of many places in Chicago outside of which K & R have laughed.'
---

%h1 Visiting Chicago

%p
  There are lots of amazing things to do and see in Chicago.  These are some of
  our favorites.

- data.attractions.each do |attraction|
  %h2= attraction['name']
  =markdown_or(attraction['description'])
