---
title: About Us
---

= image_tag "/images/kr-einsteins.jpg", :alt => "Kelly and Rhett", :title => "K & R in a hopefully temporary photo", :width => '600'

%h1 Welcome

%p
  = lorem.paragraphs(5).split("\n\n").join("<p>")
