---
title: Registry
description: Places you can buy things for us if you are inclined.
---

%h1 Registry

%p
  We are registered at the modern ABCs of wedding registries.

%ul#registries
  %li
    %a{:href => 'http://www.amazon.com/registry/wedding/99OPM6SKFURF', :title => 'Amazon Registry'}>
      %img#amazon-logo{:src => 'images/registry/a.com_logo_RGB.jpg', :alt => 'Amazon.com', :width => 350}>
  %li
    %a{:href => 'http://www.bedbathandbeyond.com/regGiftRegistry.asp?WRN=-12122777'}>
      %img#bbb-logo{:src => 'images/registry/BBB-logo.png', :alt => 'Bed, Bath, and Beyond', :width => 350}>
  %li
    %a{:href => ' http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4952256'}>
      %img#cb-logo{:src => 'images/registry/crate_and_barrel_logo.jpg', :alt => 'Crate & Barrel', :width => 350}>
