---
title: Répondez s'il vous plaît
body_class: rsvp
js: ['rsvp']
---

#pane
  %noscript
    %h1 ...or you can RSVP by phone
    %p
      The online RSVP system needs JavaScript. If you can't use a browser with
      JavaScript, you can RSVP by phone, leaving a message at 510-MAY-18KR
      (510-629-1857). When you leave your message, please include
    %ul
      %li the names of the people on your invitation,
      %li whether each of you will be joining us, and
      %li
        if you are joining us, what each of you would like for dinner;
        options are Beef Brisket, Pork Loin, or Black Bean and Faro Cakes

